body{
 font-family: YuGothic, "游ゴシック", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
  background-color: #fff
  ;
  font-size: 14px;
  
}
header {background-image: url("IMG_back.JPG");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
   padding-bottom: 100px;
  
}
nav {
  text-align: center;
   background: #333;
   color: #234;
  font-weight: bold;
}
nav ul li{
    display: inline-block;
}